* {
  margin: 0;
  font-family: "Comic Sans MS";
  font-size: medium;
  font-weight: 600;
  overflow-x: hidden;

  background-color: #1a1a1a;
  color: #f2f2f2;
}

a {
  text-decoration: none;

  color: #f2f2f2;
}

p {
  margin: 5px;
  
  background-color: #333;
}
